@charset "UTF-8";

/* 共通パーツ */
html{
  /* ルート要素とはhtmlセレクタを指す */
  /* ルート要素になる */
  font-size: 16px;  /* font-size:文字サイズ */
}

body{
  color: #624649;  /* color:文字色 */
  /* （1rem = htmlで指定された16px） */
  font-size: 1rem;
  font-family: "YuGothic",  Yu Gothic,  sans-serif;  /* font-family:文字のスタイル */
}

h1 {
  /* Google Fontsサイトの「Specify in CSS」で記述されていた内容 */
  font-family: 'Great Vibes', cursive;
  font-size: 4rem;
  /* 文字間 */
  letter-spacing: 10px;
  color: #955E64;
  /* 文字の太さを指定 */
  font-weight: normal;
  /* テキストに影をつけることができる */
  /* 影のズラし方や太さ、色を指定することができます */
  text-shadow: 0px 0px 4px #fff;
  /* 影をつけたりぼかしを設定できるプロパティ */
  /* filter: drop-shadow ( 水平方向 垂直方向 ぼかし具合 色（色+透明度）); */
  filter: drop-shadow(4px 2px 4px #fff);
}

ul,li,ol{
  list-style-type: none;  /* list-style-type:リスト要素の際に出てくる「・」など */
}

a{
  text-decoration: none;  /* text-decoration:テキストのデコレーション（下線とか） */
  transition: 0.6s;  /* transition:cssが反映される時間（ゆっくり色を変えるなどに使用）; */
}

a:hover{
  /* CSSが反映される時間「transition」を0.6秒 */
  transition: 0.6s;
}

.container{
  /* コンテンツを広げられる最大横幅「max-width」 */
  max-width: 1024px; /* ① max-width:最大横幅 */
  /* 横幅「width」は画面幅いっぱいの100%ではなく、少し左右に余白を持たせるために90% */
  width: 90%; /* ② width:横幅 */
  margin: 0 auto; /* ③ */
}

/* セレクトボックス用の共通パーツ */
select {
  /* 「ress.css」を使用した時のみの対応 */
  /* 「appearance」というプロパティでボタンが表示されるように指定 */
  /* 各Webブラウザに対してそれぞれ指示をする書き方 */
  -moz-appearance: menulist;
  -webkit-appearance: menulist;

  /* セレクトボックス（selectタグ）の枠線「border」も非表示になっているので、「border-style」を使って直線（solid）の枠線を表示させる */
  border-style: solid;
  /* 縦幅の調整 */
  height: 28px;
}

/* 「::-ms-expand」をつけることでInternet Explorerを使用した際に反映されるような設定ができる　あまり使用しない */
select::-ms-expand {
  display: block;
}

/*** グローバルナビゲーション ***/
.g-navi {
  position: absolute; /* position:要素の配置方法 */
  background-color: #e2bfcb;
  width: 100%;
}

.g-navi ul {
  display: flex;
  flex-wrap: nowrap;
  /* flexboxの子要素を横並びにした時の配置方法を指定 */
  justify-content: space-around;
  /* flexboxの子要素を縦並びにした時の配置方法を指定 */
  align-items: center;
}

.g-navi ul li {
  /* 均等に並べるため、横幅設定「flex-basis」を使ってコンテンツの横幅を設定 */
  flex-basis: 16.6%;
  text-align: center;
}

.g-navi ul li a {
  display: block;
  color: #fff;
  padding: 20px 0; /* ② padding:内側の余白設定 */
}

/* マウスオン時に異なるCSSを反映させたいなど、何かしらのアクションがあった際に変化させるclassを「擬似クラス」 */
/* 例）hover */
/* 「メニューテキスト」にマウスオンした際のデザイン */
.g-navi ul li a:hover {
  color: #ccc;
  background-color: #eb3c55;
  /* opacity:透過度 50% */
  /* aタグが付いている文字を透過 */
  opacity: 0.5; 
}

/* ファーストビュー */
#main-visual {
  /* 背景画像の表示 */
  /* ① background-image:背景画像 */
  background-image: url(../image/mv.png);
  /* 画像の繰り返し設定 */
  /* 繰り返さない（no-repeat）を指定 */
  background-repeat: no-repeat;
  /* 背景のサイズ設定 */
  /* 領域全体を覆う（cover）を指定 */
  background-size: cover;
  /* メインビジュアルエリアの高さを設定、親要素に高さ設定をする場合 */
  /* 「100vh」という数値は、ページを開いているブラウザの縦幅（高さ） */
  /* 高さ分だけコンテンツが表示。（vh：ブラウザ画面縦幅の% / vw：ブラウザ画面横幅の%） */
  height: 100vh;
  /* エリアの最大縦幅を設定 */
  /* 背景画像のサイズ分（633px）、最大縦幅「max-height」を設定してあげて、それ以上の縦幅は広がらないように */
  max-height: 633px;
}

/* メインビジュアル */
.mv-wrapper {
  /* 親要素（.mv-wrapper）に対して子要素（.mv-right）を自由な場所に配置するため、親要素に対して配置設定「position」を相対的（relative）に設定 */
  position: relative;
}

.mv-right {
  /* 親要素（.mv-wrapper）の中で自由にコンテンツを配置するため、配置設定「position」を絶対的（absolute）に設定 */
  position: absolute;
  /* top:上部からの配置位置 */
  top: 240px;
  right: 0px;
  max-width: 100%;
}

.text {
  font-family: 'Great Vibes', cursive;
  font-size: 1.625rem;
  /* 文字間 */
  letter-spacing: 4px;
  color: #955E64;
  /* テキストの位置設定 */
  text-align: center;
  filter: drop-shadow(4px 2px 4px #fff);
  text-shadow: 0px 0px 4px #fff;
  /* margin:外側の余白設定 */
  /* 下余白 */
  margin-bottom: 80px;
}

/* ボタン部分 */
.purchase-button {
  /* 子要素（.purchase-button a）をインラインブロック（インライン要素）で設定するため、余白設定「margin」ではなく、テキスト配置「text-align」での調整が必要 */
  /* 文字を真ん中に */
  text-align: center;
}

.purchase-button a {
  display: inline-block;
  background-color: #955E64;
  color: #fff;
  /* 内側余白「padding 縦 横」 */
  /* 縦に15pxずつ、横に50pxずつ */
  padding: 15px 50px;
  font-size: 1.375rem; /* 22px */
}

/* マウスオン時に反映 */
.purchase-button a:hover {
  background-color: #fff;
  color: #955E64;
}

/* 共通パーツ */
/* エリア全体 */
#concept, #feature, #thought, #macaronlife, #lineup, #package, #store, #contact {
  /* 上下を80px 左右を0に設定 */
  padding: 80px 0;
}


/* タイトル */
h2 {
  font-size: 3rem;
  /* 余白設定「margin」を使って5px縮める */
  margin-bottom: -5px;
  font-family: 'Great Vibes', cursive;
  font-weight: normal;
  /* 文字間 */
  letter-spacing: 4px;
  color: #dd918e;
}

/* 日本語タイトル */
.ja-title {
  font-size: 1rem;
  color: #dd918e;
}

/* タイトル部分 */
.title {
  /* text-align：テキスト配置（画面中央寄せ） */
  text-align: center;
  /* タイトル部の下に余白 */
  margin-bottom: 40px;
}

/* コンセプトエリア */
.concept-copy {
  /* エリア内のテキストは全て中央寄せになっているので、大枠である（.concept-copy）に対して、テキスト配置「text-align」を中央寄せ（center）に指定 */
  text-align: center;
}

.main-copy {
  font-size: 1.5rem;
  /* 外側の空白 */
  margin-bottom: 50px;
  /* h3の見出しタグを使用しているため、自動的に太字になるが、デザインカンプでは文字の太さは通常な太さのため */
  font-weight: normal;
}

/* 共通パーツ */
/* about-textは、テキストに関するスタイル（文字サイズや文字間など）の設定 */
.about-text {
  font-size: 1rem;
  letter-spacing: 0.8px;
}

/* コンセプトエリア */
/* concept-textは、レイアウトに関するスタイル（コンテンツ間の余白「margin」など）を設定 */
.concept-text {
  margin-bottom: 20px;
  /* 文字の行間を設定 */
  line-height: 1.8;
}

/* コンセプトエリアの背景の設定 */
#concept {
  background-color: #f7e8e8;
  /* デザインカンプの左上・右下に配置された「花柄の画像2枚」を設置 */
  /* HTMLにimgタグとして背景画像を記述する方法もありますが、基本的に背景画像を設定する場合はCSSで調整する方が簡単なため、CSS側で設定 */
  background-image: url(../image/back1.png), url(../image/back2.png);
  /* 「background-image」で設定した背景画像の大きさを、「background-size」にて22%の大きさに設定 */
  /* ブラウザの画面幅を縮めた際に背景画像が大きいままにならないように「相対値（%）」を使用 */
  background-size: 22%, 22%;
  /* 背景画像「background-image」の繰り返し設定「background-repeat」を無しにする */
  background-repeat: no-repeat;
  /* 背景画像「background-image」の表示位置を指定 */
  background-position: 0 0, 100% 100%;
  /* テキストエリア全体の文字位置「text-align」を中央寄せ（center）に設定 */
  text-align: center;
}

/* こだわりエリア */
#feature {
  background-color: #e4ecef;
}

/* 共通パーツとしてまとめる */
/* 各classの区切りとして「,」を記述 */
.feature-wrapper, .life-wrapper, .linepu-wrapper, .package-wrapper, .store-wrapper {
  /* flexboxにする */
  display: flex;
  /* 繰り返しは無し */
  flex-wrap: nowrap;
  /* 両端を基準に子要素を均等な間隔で並べるspace-betweenを設定 */
  justify-content: space-between;
}

/* 共通パーツ */
/* ページ全体で共通するボックスのスタイルの設定 */
.box-design {
  background-color: #fff;
}

/* こだわりエリア */
/* 「コンテンツのレイアウト」や「子要素の配置に関するスタイル」の設定 */
.feature-box {
  /* コンテンツ幅1024pxよりも画面の幅が小さくなった際はみ出さないようにするため */
  max-width: 320px;
}

/* 特定の要素だけを選択してCSSの設定をしたい場合、id・classとは別に擬似クラス（:nth-of-typeなど）で設定することもできる */
/* ２番目の要素を指定 */
.feature-box:nth-of-type(2) {
  background-color: #fffde8;
}

/* こだわりエリア */
/* 画像とテキストエリアの調整 */
/* 画像 */
.feature-image {
  /* 画面の幅がコンテンツ幅1024px以下になった際に、画面幅から画像がはみ出ないようにするための設定、最大サイズが現在のエリアの幅になる */
  max-width: 100%;
}
/* テキストエリア */
.feature-text {
  /* padding: 上下　左右; */
  padding: 20px 15px;
}
/* ナンバー */
.feature-number {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-family: 'Great Vibes', cursive;
  color: #dd918e;
}
/* 見出し */
.feature-title {
  font-size: 1.375rem;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* 本文 */
.ferture-about {
  font-size: 1rem;
}

/* 想いエリア */
#thought {
  background-color: #fff;
}
/* 「スタッフボックス」や「進む・戻るボタン」を親要素（.thought-container）を基準に移動できるように、親要素（.thought-container）に対して配置設定「position」を相対的（relative）を設定 */
.thought-container {
  position: relative;
}
.staff-box {
  display: flex;
  /* 折り返しなし */
  flex-wrap: nowrap;
  /* 両端を基準として均等の間隔で配置 */
  justify-content: space-between;
  background: #f7e8e8;
  padding: 2rem;
}
.staff-image {
  /* imgタグはインライン要素なので、サイズや余白の指定のためブロック要素（block）に変更 */
  display: block;
  /* 余白のために50%ではなく48%に指定 */
  width: 48%;
}
.staff-text {
  /* imgと同様に48%に指定 */
  width: 48%;
}
.staff-title {
  font-size: 1.375rem;
  /* テキストの（横）配置位置を指定 */
  text-align: center;
  margin-bottom: 30px;
  font-weight: normal;
}

.staff-about {
  margin-bottom: 20px;
  padding: 20px;
  background: #fff;
}

.staff-name {
  text-align: right;
}

/* スライダ機能で使用する「戻る・進むボタン」を設定 */
.slide-button {
  /* ①スタッフボックス（.staff-box）を基準として、見えないボックス（.slide-button）を作る。 */
  /* 配置方法「position」を絶対値（absolute）に設定 */
  position: absolute;
  /* 上下ともに0と指定することで、基本的には上下の中心に要素が配置される */
  top: 0;
  bottom: 0;
  display: block;
  /* ②見えないボックス（.slide-button）を「＜」「＞」の基となる正方形にする。 */
  /* 「＜」「＞」を再現するために必要な大きさを、それぞれ幅「width」と高さ「height」で指定 */
  width: 48px;
  height: 48px;
  /* ③見えない正方形の上部「border-top」にだけ線をつける。 */
  border-top: 2px solid #c0c0c0;
  /* 今回は1辺が48pxの正方形として、コンテンツの配置位置を余白設定「margin」を autoにすることで適切にします。 */
  margin: auto;
  /* 「cursor」プロパティを用いて、マウスのカーソルをコンテンツに触れた際のマークを「ポインター（pointer：指マーク）」に設定 */
  cursor: pointer;
  /* コンテンツの重ね順 1が後ろで9999が前 */
  z-index: 1;
}
/* ボタンごとの設定 */
/* 戻るボタン */
.prev {
  /* 左方向「left」から10px移動 */
  left: 10px;
  /* ④戻るボタンは-45°傾け、左側にも枠を設定 */
  border-left: 2px solid #c0c0c0;
  /* 反時計回りがマイナス */
  transform: rotate(-45deg);
}
/* 進むボタン */
.next {
  /* 右方向「right」から10px移動 */
  right:10px;
  /* 進むボタンは45°傾け、右側にも枠を設定 */
  border-right: 2px solid #c0c0c0;
  transform: rotate(45deg);
}

/* マカロンライフエリア */
#macaronlife {
  /* Lifeエリア全体にグラデーションのついた背景「background」を設定 */
  /* グラデーションをつける場合、「linear-gradient」というCSSプロパティを使う */
  /* 色の「スタート値」と「ゴール値」を設定 */
  background: linear-gradient(#f7e8e8,#e4ecef);
}

.life-type {
  /* 子要素のテキスト位置「text-align」を全て中央揃え（center）にする */
  text-align: center;
}

.life-type a {
  /* 余白の設定を行うためブロック要素にする */
  display: block;
  padding: 10px;
  /* .life-nameの色になる */
  color: #333;
}

.life-type a:hover {
  /* マウスオン時にテキスト色「color」が赤茶色（#955E64） */
  color: #955E64;
  /* aタグの範囲が浮き出るような影「box-shadow」が表示される */
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 15), 0 0 5px rgba(0, 0, 0, 1);
}

.life-image {
  /* 横幅 */
  /* 親要素と同じサイズ */
  width: 100%;
  /* タイトル（.life-name）との間隔をあけるため、下の余白「margin-bottom」を設定 */
  margin-bottom: 5px;
}

/* ラインナップエリア */
.lineup-menu {
  margin-bottom: 3rem;
}

.lineup-menu ul {
  display: flex;
  flex-wrap: nowrap;
  /* 両端を基準に均等な間隔 */
  justify-content: space-between;
  /* 下線を引く */
  border-bottom: 2px solid #d29490;
}

.lineup-menu ul li {
  /* 各メニューが同じ横幅「width」になるよう100%で設定 */
  width: 100%;
  /* テキスト中央寄せ */
  text-align: center;
}

/* 背景色やデザインの反映 */
.lineup-menu ul li a {
  /* aタグはインライン要素なため、このままだとコンテンツのあるテキスト上のみがリンク範囲となる。それを防ぐために表示設定「display」でブロック要素（block）に変更 */
  display: block;
  color: #333;
  background-color: #f4e8e8;
  /* ブロック要素にしたaタグの上部を角丸「border-radius」にする */
  /* 角丸設定：border-radius: 左上 右上 右下 左下; */
  border-radius: 30px 30px 0 0;
  /* 内側の上下余白 */
  padding: 0.5rem 0;
}

.lineup-menu ul li a:hover {
  color: #fff;
  background-color: #d29490;
}

/* 表示しているページのメニューだけ文字色や背景色が異なる設定 */
/* CSS設定が変わるのはaタグ */
.lineup-menu ul li.active a {
  color: #fff;
  background-color: #d29490;
}

.lineup-product {
  /* 「Flexbox」の横幅を指定する「flex-basis」を使って31%ずつに設定 */
  flex-basis: 31%;
}

.lineup-image {
  /* 画像エリアを角丸を設定 */
  border-radius: 30px;
  /* 画像を囲むようにボーダー:破線（dashed）を設定 */
  border: 1px dashed #d29490;
  padding: 4rem 0;
  text-align: center;
  margin-bottom: 20px;
}

.lineup-name {
  margin-bottom: 10px;
}

.name-en {
  font-size: 1.5rem;
  /* 太字（bold）で設定 */
  font-weight: bold;
}

.lineup-text {
  /* 少し行間「line-height」をゆったりさせるため1.8に設定 */
  line-height: 1.8;
}

/* moreボタン（.more-lineup）のデザイン設定 */
.more-lineup {
  text-align: center;
  margin-top: 60px;
}

.btn-more {
  display: inline-block;
  background-color: #d29490;
  color: #fff;
  padding: 10px 100px;
  font-size: 1.375rem;
  /* 文字間 */
  letter-spacing: 3px;
}

.btn-more:hover {
  background-color: #955e64;
  color: #fff;
}

/* パッケージエリア */
.package-lineup {
  /* 横幅を指定する「flex-basis」を使って31%ずつに設定 */
  flex-basis: 31%;
}

.package-image {
  /* 横幅 */
  width: 100%;
  /* 角丸設定 */
  border-radius: 30px;
  margin-bottom: 20px;
}

.package-title {
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.package-value {
  color: #dd918e;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

/* 購入フォーム */
.package-select {
  width: 100%;
  margin-bottom: 10px;
}

.purchese-number {
  margin-bottom: 20px;
}

.number {
  width: 50px;
}

/* カートに入れるボタン */
.select-cart {
  margin-bottom: 30px;
  height: 54px;
}

/* マウスオン時にクリックしたかのようにヘコむ動きを再現するために影をつける */
.select-cart a {
  display: flex;
  /* 横の配置方法「justify-content」をcenter（中央寄せ） */
  justify-content: center;
  /* 縦の配置方法「align-items」をcenter（中央寄せ） */
  align-items: center;
  width: 100%;
  /* ボタンの影を4pxつけるためにあける */
  height: 50px;
  background: #586fc8;
  /* 影をつける */
  filter: drop-shadow(0px 4px 0px #243f81);
  font-size: 1.25rem;
  color: #fff;
  margin-bottom: 4px;
  /* スタイル反映までの時間を指定 */
  transition: 0s;
}

/* マウスオン時にクリックしたかのようにヘコむ動きを再現する */
.select-cart a:hover {
  /* 影を非表示 */
  filter: none;
  /* 影だった縦幅「height」を50px+4px（54px）にしてボタン範囲を伸ばす */
  height: 54px;
  margin-bottom: 0;
  transition: 0s;
}

/* ストアエリア */
#store {
  background: #e4ecef;
}

.map-image, .store-text {
  /* 各横幅「flex-basis」を設定 */
  flex-basis: 48%;
}

.store-name {
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 30px;
}

address {
  /* addressタグはデフォルトだと斜字になっているので文字のスタイル「font-style」を通常の文字（normal）に戻す */
  font-style: normal;
  letter-spacing: 1px;
  line-height: 1.8;
}

.store-address {
  color: #624649;
}

/* コンタクトエリア */
#contact {
  background: #f7e8e8;
}

form {
  /* 横幅が短くなったコンテンツを中央寄せするために余白設定「margin」を上下0・左右autoに設定 */
  margin: 0 auto;
  max-width: 500px;
}

.ct-block {
  margin-bottom: 32px;
}

.contact-text {
  /* labelはインライン要素であるため、ブロック要素に変える */
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-name, .form-mail, .cp-howto, select {
  /* 枠線 */
  border: 1px solid #b1b1b1;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background: #fff;
}

/* textareaタグの場合、縦幅についてはHTMLの「rows属性」で設定されるとめ、他とは設定を分ける */
textarea {
  border: 1px solid #b1b1b1;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background: #fff;
}

/* セレクトボックスのCSS */
.cp-howto {
  /* 子要素で「▼」をつけるため、relativeを指定 */
  position: relative;
  border: 1px solid #b1b1b1;
  background: #fff;
}
/* 「▼」をつける部分になります */
.cp-howto::before {
  position: absolute;
  top: 14px;
  right: 10px;
  /* 「:before」「:after」の擬似要素でコンテンツを表示させる際はこれをつける */
  content: '';
  /* 「▼」を3つのボーダーで描く */
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 13px solid #666;
}

.cp-howto select {
  /* 不要な表示内容を全て非表示 */
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  /* 「▼」の分、内側に余白をつける */
  padding: 10px 40px 10px 10px;
}
/* Internet Explorer用の記述です */
.cp-howto select::-ms-expand {
  display: none;
}

.send-button {
  display: block;
  background-color: #dd918e;
  font-size: 1.375rem;
  padding: 10px 120px;
  margin: 0 auto;
  color: #fff;
  transition: 0.6s;
}

.send-button:hover {
  background-color: #fff;
  color: #dd918e;
  transition: 0.6s;
}

footer {
  background: #e2bfcb;
  color: #fff;
}

.footer-content {
  display: flex;
  flex-wrap: nowrap;
  /* 横並び設定「justify-content」は両端を基準に均等な間隔（space-around）に設定 */
  justify-content: space-around;
  margin: 0 auto;
  padding: 40px 0;
}
.footer-content a {
  color: #fff;
}
.footer-content a:hover {
  color: #624649;
}

/* Flexboxのサイズ割り当て設定「flex-grow」で横幅比を指定 */
/* 指定-logo-wrapper：menu：menu */
/* 指定-２：１：１ */
.logo-wrapper {
  flex-grow: 2;
}
.menu {
  flex-grow: 1;
}

/* ロゴ */
.logo {
  display: block;
  font-size: 3rem;
  font-family: 'Great Vibes', cursive;
  letter-spacing: 6px;
  margin-bottom: 10px;
}
.sns-block {
  display: flex;
  flex-wrap: nowrap;
  /* 横並び設定「justify-content」：左端を基準（flex-start） */
  justify-content: flex-start;
  /* 縦の配置方法「align-items」をcenter（中央寄せ） */
  /* aタグの中央寄せ */
  align-items: center;
}
.mark {
  margin-right: 1rem;
}

.menu ul li {
  letter-spacing: 2px;
  margin-bottom: 20px;
}

footer small {
  padding-bottom: 20px;
  display: block;
  /* テキストの配置「text-align」：中央寄せ（center） */
  text-align: center;
}


/* メディアクエリ */
/* 最大横幅「max-width」を768px以下 */
@media screen and (max-width:768px) {
  body{
    /* 画面幅よりもbodyタグの横幅が長くならない */
    overflow-x: hidden;
  }

  /* 共通パーツ */
  h1 {
    font-size: 2.5rem;
    letter-spacing: 3px;
    text-align: center;
  }

  #concept, #feature, #thought, #macaronlife, #lineup, #package, #store, #contact {
    /* 上下を80px 左右を0に設定 */
    padding: 60px 0;
  }

  /* 不要なスタイルの非表示 */
  .g-navi{
    display: none;
  }

  .g-navi-sp{
    /* コンテンツの位置を固定（fixed）に設定 */
    /* これで画面上部にヘッダーエリアが固定で表示される */
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e2bfcb;
    width: 100%;
    height: 60px;
    padding: 4%;
    /* 「z-index」を指定しない時、他のエリアで「z-index」を使用している場合に、設定していないエリアが隠れてしまいます。 */
    /* ヘッダーエリア（.g-navi-sp）はどんなコンテンツよりも重ね順が前にある必要があるので、「z-index」を3と設定 */
    z-index: 3;
  }

  /* ロゴエリア */
  .sp-logo{
    font-size: 1.5rem;
    color: #fff;
    letter-spacing: 3px;
    font-family: 'Great Vibes', cursive;
  }

  /* ハンバーガーメニュー */
  .menu-trigger{
    /* ? */
    position: relative;
    width: 30px;
    height: 42px;
    /* ? */
    cursor: pointer;
  }

  .menu-trigger span{
    display: block;
    /* 絶対的（absolute） */
    position: absolute;
    width: 30px;
    border-bottom: solid 3px #fff;
    /* ? */
    border-radius: 3px;
    /* 0.35秒で動くように設定するため、動作時間の設定「transition」を0.35s（0.35秒）で滑らか（ease-in-out）に設定 */
    transition: .35s ease-in-out;
  }

  .menu-trigger span:nth-child(1) {
    top: 6px;
  }
  .menu-trigger span:nth-child(2) {
    top: 18px;
  }
  .menu-trigger span:nth-child(3) {
    top: 30px;
  }

  #main-visual{
    background-image: url(../image/sp/mv.png);
    height: 500px;
    /* inherit（受け継ぐ） */
    max-height: inherit;
    /* ヘッダーエリア（.g-navi-sp）の高さ分、上からの内余白「padding-top」を60pxだけ指定 */
    padding-top: 60px;
  }

  .mv-wrapper{
    display: flex;
    justify-content:  center;
    align-items: center;
    height: 100%;
  }

  /* ファーストビュー */
  .mv-right{
    /* 相対位置(relative) */
    /* 親要素はmv-wrapper */
    position: relative;
    top: 0;
    right: 0;
  }

  .text{
    font-size: 1rem;
    margin-bottom: 30px;
    letter-spacing: 2px;
  }

  /* コンセプトエリア */
  #concept{
    /* 背景サイズの変更 */
    background-size: 45%;
  }

  /* こだわりエリア */
  .feature-wrapper{
    /* 折り返しを設定 */
    /* ボックス３つを重ねて表示する */
    flex-wrap: wrap;
  }

  .feature-box{
    /* 縦並びのため下余白をあける */
    margin-bottom: 20px;
    /* 最大横幅「max-width」を受け継ぐ（inherit） */
    max-width: inherit;
  }

  .feature-image{
    /* こだわり画像（.feature-image）についても横幅を100%で設定 */
    width: 100%;
  }

}